<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center>
  <ion-list>
    <ion-item>
      <ion-input placeholder="Enter name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Phone number"></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button>Register</button><br><br>
  <button ion-button>Sign up using Facebook</button><br><br>
  <button ion-button>Sign up using Google</button>
</ion-content>
